.Comment {
    background: #58d7fe;
    color: #FFF;
    line-height: 16px;
    margin-bottom: 10px;
    font-size: 12px;
    border-radius: 10px;
    padding: 8px 15px;
    font-family: helvetica;
    font-weight: 600;
    text-align: left;
}